@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,700;1,700&display=swap") * {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #444;
  /* background-color: aliceblue; */
  background-color: whitesmoke;
}

header .logo h1 {
  text-transform: uppercase;
  word-spacing: 8px;
  letter-spacing: 3px;
  text-align: center;
  margin: 25px 0;
  font-weight: 600px;
}
.brand-bg-container {
  width: 100%;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.Apple {
  background-image: url(./images/apple-laptop.jpg);
}
.lenovo {
  background-image: url(./images/pexels-stepan-vrany-19269761.jpg);
}
.asus {
  background-image: url(./images/webfactory-ltd-B0tAwAQUbzA-unsplash.jpg);
}
.dell {
  background-image: url(./images/pexels-lisa-fotios-1266982.jpg);
}
.hp {
  background-image: url(./images/pexels-ahmed-lishane-11129922.jpg);
}

.brand-bg-container h1 {
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 240px 0 0 75px;
}

.brand-details-container {
  margin: 75px;
  text-align: center;
}
.brand-details-container h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: indigo;
  margin-bottom: 25px;
}
.asus-text h1 {
  color: #444;
}
.lenovo-text h1 {
  color: indianred;
}
.dell-text h1 {
  color: black;
}
.hp-text h1 {
  color: crimson;
}
.brand-details-container p {
  text-align: justify;
  font-size: 1.3rem;
}
.brand-details-container a {
  text-decoration: none;
  color: white;
  background-color: indigo;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 25px;
}
.brand-details-container a:hover {
  background-color: rgb(102, 15, 163);
}
.brand-details-container a:active {
  outline: 3.6px solid rgba(76, 0, 130, 0.541);
}

footer p {
  font-size: 1, 3rem;
  text-align: center;
  margin-bottom: 20px;
}
