@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,700;1,700&display=swap") * {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #444;
  background-color: aliceblue;
}

header .logo h1 {
  text-transform: uppercase;
  word-spacing: 8px;
  letter-spacing: 5px;
  text-align: center;
  margin: 25px 0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.brand-bg-container {
  width: 100%;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.london-united {
  background-image: url(./images/pexels-caio-45923.jpg);
}
.volvo-group {
  background-image: url(./images/jairph-P-w61wkh-PQ-unsplash.jpg);
}
.marcopolo {
  background-image: url(./images/juan-encalada-6mcVaoGNz1w-unsplash.jpg);
}

.scania-ab {
  background-image: url(./images/jalal-kelink-g5fkyKNhQ-k-unsplash.jpg);
}
.emdrup-torv {
  background-image: url(./images/teddy-o-jtpcrnqP2Mc-unsplash.jpg);
}
.brand-bg-container h1 {
  color: white;
  text-transform: uppercase;
  font-size: 3.1rem;
  letter-spacing: 5px;
  padding: 240px 0 0 75px;
}
.marcopolo h1 {
  color: white;
}

.brand-details-container {
  margin: 75px;
  text-align: center;
}

.brand-details-container h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: crimson;
  margin-bottom: 15px;
}
.volvo-group-text h1 {
  color: rgb(194, 16, 16);
}
.marcopolo-text h1 {
  color: black;
}
.emdrup-torv-text h1 {
  color: goldenrod;
}

.brand-details-container p {
  text-align: justify;
  font-size: 1.1rem;
}

.brand-details-container a {
  text-decoration: none;
  text-transform: uppercase;
  color: #401f71;
  background-color: #fdaf7b;
  padding: 8px 25px 8px 25px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 5px;
}

.brand-details-container a:hover {
  background-color: rgba(253, 175, 123, 0.767);
}
.brand-details-container a:active {
  outline: 1.3px solid firebrick;
}

footer p {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: 500;
}
